{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 1 version"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
